
#landing-page{
    padding-left: 2%;
    padding-bottom:19%;

}
.bg {
    background-image: url(../images/alcohol-beer-beverage-1128975.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#h1{
    padding:2%;
    color: #5c6bc0;
    font-family: 'Krona One', sans-serif;
    font-size: 4.2rem;
    font-weight: 400;
}
#header {
    font-size: 4.2rem;
    font-weight: 400;
    color: #5c6bc0;
}

h1 {
    font-family: 'Krona One', sans-serif;
}

#confirmAge {
    font-family: 'Gochi Hand', cursive;
    font-size: 72px;
}

h2 {
    font-size: 18px;
    color: #303f9f;
}

.weather-field.col.s6 {
    width:33%;
}

.weather {
    /* padding-top: 10%; */
    text-align: right;
    margin-left:80%;
    
}

#weather{
    width:30%;
    margin-left:80%;
}

h3 {
    font-size: 28px;
    font-family: 'IM Fell Great Primer SC', serif;
}
.city {
    font-size: 20px;
    padding-top: 20px;
}
.temp {
    font-size: 18px;
    padding-top: 10px;
}

#map {
    height: 80%;
}

